progress {
  width: 100%;
  height: 16px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 8px;
}


progress::-webkit-progress-value {
  background-color: #10b981; /* Tailwind green-500 */
  border-radius: 8px;
}